{{!-- randall banner header --}}
<header id="authors-header" class="clearfix" role="banner">
    <div id="header-top" class="clearfix">
        <center>
            <img src="/images/banner_randall.jpg" alt="Randall Library">
        </center>
    </div>
</header>

 {{!-- location select dropdown --}}
<div class="location-filter">
    <div class="input-group input-group-lg">
    <div class="input-group-prepend">
        <label class="input-group-text" for="">Location</label>
    </div>
    <select class="custom-select" id="location-select">
        <option {{isSelected carousels.pageType 'gen'}} value="gen">General Collection</option>
        <option {{isSelected carousels.pageType 'gov'}} value="gov">Government Resources</option>
        <option {{isSelected carousels.pageType 'juv'}} value="juv">Juvenile Collection</option>
        <option {{isSelected carousels.pageType 'new'}} value="new">New and Popular Collection</option>
        <option {{isSelected carousels.pageType 'cds'}} value="cds">CDs</option>
        <option {{isSelected carousels.pageType 'dvds'}} value="dvds">DVDs</option>
        <option {{isSelected carousels.pageType 'ebooks'}} value="ebooks">ebooks</option>
        <option {{isSelected carousels.pageType 'evideos'}} value="evideos">Streaming Videos</option>
        <option {{isSelected carousels.pageType 'audiobooks'}} value="audiobooks">Audiobooks</option>
    </select>
    <script>
        $(function(){
            $('#location-select').on('change', function () {
                var location = $(this).val(); 
                if (location) {
                    window.location = '/readbox?location=' + location;
                }
                return false;
            });
        });
    </script>
    </div>
</div>

{{!-- load the carousels & pop-up modal portion of the layout --}}
{{> carouselPartial }}
{{> modalPartial }}

{{!-- popular books app iframe --}}
<div style="text-align:center;">
    <div class="col-auto">
        <iframe src="https://popular-books.libapps.uncw.edu/portrait" style="width:100%; height:975px;"></iframe>
    </div>
</div>
