<header id="authors-header" class="clearfix" role="banner">
  <div id="header-top" class="clearfix">
    <center>
      <img src="/images/banner_randall.jpg" alt="Randall Library">
    </center>
  </div>
</header>

{{#each carousels.rows}}
  <!-- Each carousel row uses this same template -->
  <div class="row mb-5 mt-3 book-row">
    <div class="card book-card">
      <div class="card-body">
        <!-- row title elem -->
        <h5 class="card-title">
          {{this.title}}
          {{#if this.rssFeed}}
          <a href="{{this.rssFeed}}" target="_blank" title="Subscribe to Library {{this.title}} Feed">
            <img src="https://library.uncw.edu/misc/feed.png" width="16" height="16" alt="Subscribe to Library {{this.title}} Feed" />
          </a>
          {{/if}}
        </h5>
        <!-- carousel items -->
        <div id="carousel-slide-{{increment @index}}" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {{#each this.items}}
            <!-- each chunk of 5 items, i.e, 5 books, cds, etc -->
            <div class="carousel-item {{#unless @index}}active{{/unless}}">
              <div class="row justify-content-center">
                {{#each this}}
                <!-- each item in the chunk, i.e., a book, cd, etc -->
                <div class="syn_skipthis col-auto book-div">
                  <img class="img img-thumbnail" src="{{this.image}}">
                  <a href="#" data-toggle="modal" data-target="#itemInfoModal" onclick="updateModal('{{safeStr this.isbn}}', '{{safeStr this.UPC}}', '{{safeStr this.title}}', '{{safeStr this.titleFixed}}', '{{safeStr this.authorFixed}}', '{{safeStr this.callNumber}}', '{{safeStr this.resLocation}}', '/images/book{{onetwothree @index}}.jpg', '{{changeStr this.available}}', '{{this.recordnum}}', '{{this.image}}')">
                    <div class="overlay">
                      <div class="text">
                        {{this.titleFixed}} - {{this.authorFixed}}
                      </div>
                    </div>
                  </a>
                </div>
                {{/each}}
              </div>
            </div>
            {{/each}}
          </div>
          <a class="carousel-control-prev" href="#carousel-slide-{{increment @index}}" role="button" data-slide="prev">
            <span style="color:Black;">
              <i class="fas fa-arrow-circle-left fa-3x"></i>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-slide-{{increment @index}}" role="button" data-slide="next">
            <span style="color:Black;">
              <span class="fas fa-arrow-circle-right fa-3x"></span>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
{{/each}}

<div style="text-align:center;">
  <iframe src="https://randall-rotations.libapps-staff.uncw.edu/CircDesk/rotation" width="740px" height="1300px" style="border:none;" scrolling="no"></iframe>
</div>

<!-- Modal -->
<div class="modal fade" id="itemInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="sendAsTextIframe"></div>
      <div id="findItIframe"></div>
      <div id="modalBodyImage" class="modal-body"></div>
      <div id="modalBodyInfo" class="modal-body" style="padding:.3rem;"></div>
      <div id="modalBodyDescription" class="modal-body"></div>
      <div id="sendAsText" class="modal-body"></div>
      <div id="openCatalog" class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#carousel-slide-1').carousel({
    interval: 10000
  })

  $('#carousel-slide-2').carousel({ // false until 10 seconds have passed
    interval: 10000
  })

  $('#carousel-slide-2').carousel('pause')

  setTimeout(function() {
    $('#carousel-slide-2').carousel('cycle');
  }, 5000);


  function updateModal(isbn, UPC, title, titleFixed,  author, callNumber, location, errorImage, available, recordnum, image) {
    const formattedCallNumber = callNumber.toUpperCase().replace(/\s/g, '');
    const formattedLocation = location.replace(/[']/gi, '\\\'').replace(/["]/gi, '\\"');
    const formattedTitle = title.replace(/[']/gi, '\\\'').replace(/["]/gi, '\\"');
    const findItUrl = `https://findit.libapps.uncw.edu/stacks?callNumber=${formattedCallNumber}&collection=${formattedLocation}`
    const sendTextUrl = `https://twilio.libapps.uncw.edu/sendCallNumber?bookLocation=${formattedLocation}&bookCallNumber=${formattedCallNumber}&bookTitle=${formattedTitle}`

    $('#sendAsTextIframe').html('');
    $('#findItIframe').html('');
    
    $('#modalTitle').html(`${title} - ${author}`);
    $('#modalBodyImage').html(`
      <div class="col-auto">
        <img class="img img-thumbnail" onerror="this.src='${errorImage}'" src="${image}">
        <div class="overlay-modal">
          <div class="text-modal">${titleFixed} -- ${author}</div>
        </div>
      </div>
    `);

    if (callNumber && location) {
      $('#modalBodyInfo').html(`
        <div class="col-auto" style="text-align:center;">
          <strong>Call Number</strong>: ${formattedCallNumber}
          <br/>
          <strong>Location</strong>: ${location}
          <br/>
          <strong>Availability</strong>: ${available}
        </div>
      `);
    } else {
      $('#modalBodyInfo').html(`
        <div class="col-auto" style="text-align:center;">
          <strong>Click on button "See Catalog Record" to access Electronic Resource</strong>: ${formattedCallNumber}
        </div>
      `);
    }
    
    $('#sendAsText').html(` 
      <img style="margin:10px;" onclick="sendAsText('${sendTextUrl}');" src="/images/sendAsTxt.gif"/>
      <a target="blank" href="https://libcat.uncw.edu/record=b${recordnum}">
      <img src="/images/catalogRecord.gif"/>
      </a>
      <img style="margin:10px;" onclick="findIt('${findItUrl}', '${formattedCallNumber}');" src="/images/FindIT2-Button.png"/>
    `)
    $('#modalBodyDescription').html(`<p><div id="syn_summary"></div></p>`)
    
    syn_get_plus();
  }

  function sendAsText(url) {
    $('#sendAsTextIframe').html(`
        <iframe src="${url}" width="450" height="550" style="margin-bottom:-90px;" frameborder="0"/>
    `);
    $('#findItIframe').html('');
    $('#modalBodyImage').html('');
    $('#modalBodyInfo').html('');
    $('#modalBodyDescription').html('');
    $('#sendAsText').html('');
  }

  function findIt(url, callNumber) {
    $('#findItIframe').html(` 
      <div style="padding:20px;"><strong>Call Number</strong>: ${callNumber}</div>
      <br/>
      <iframe src="${url}" width="600" height="880" style="margin-bottom:-90px;" frameborder="0"/>
    `);
    $('#sendAsTextIframe').html('');
    $('#modalBodyImage').html('');
    $('#modalBodyInfo').html('');
    $('#modalBodyDescription').html('');
    $('#sendAsText').html('');
  }

</script>